	.cliquable {
		}
	.masquable {
		display:none;
		}
	.cliquable:focus + .masquable {
		display:block;
		}
		
	.rouge {
		color: red;
		}
		
	input.required {
		border-color: #000;
		}
		
	.justifie {
		text-align:justify;
		}
		
	.centre {
		text-align:center;
		}
				
	ul.feature-icons li {
		display: inline-block;
		margin: 0 0 1.6875em 0;
		padding: 0.35em 0 0 3.5em;
		position: relative;
		vertical-align: top;
		width: 48%;
		}
		
	.icon.solid::before {
		font-weight: 900;
		}
		
	ul.feature-icons li::before {
		#background: #4acaa8;
		border-radius: 100%;
		color: #ffffff;
		display: block;
		height: 2.5em;
		left: 0;
		line-height: 2.5em;
		position: absolute;
		text-align: center;
		top: 0;
		width: 2.5em;
		}
		
	ul.liste-transaction {
		list-style-type:none;
		text-align:left;"
		}
		
	ul.liste-transaction li {
		margin-bottom:0.8em;
		border-bottom: solid 1px lightgray;
		font-weight : 700;		
		}
		
	input, select, textarea {
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
		width: 100%;
		margin-top : 0.1em;
		margin-bottom : 0.9em;
		}
		
	input[type="checkbox"] {
		width: auto;
	}
	
	.divfixe {
		position: fixed;
		bottom: 0;
		left: 0;
		margin-left : 0.75em;
		margin-bottom : 0.75em;
		font-size: 3em;
		font-weight: 800;
		color:FFF;
		background-color : #bbb;
		opacity : 0.3;
		border-radius : 0.1em;
		}
	
	input:required {
		border : solid 1px black;
		}
	
	.erreur {
		background-color: red;
		color: #e9e9e2;
		font-weight: bold;
	}
	
	.avertissement {
		background-color: #ffd11a;
		color: #2c2c21;
		font-weight: bold;
	}
	
	
	.information {
		background-color: #0b33c;
		color: #e9e9e2;
		font-weight: bold;
	}
#imglogo {width: 20%}
#checkmdp {font-size:16pt}
.voir-mdp {margin-top:2em;}
@media (min-width:601px){.drapeau{height:40px} .logo{height:200px}}
@media (max-width:600px){.logo{height:180px}}
.w3-underline{text-decoration:underline;cursor:pointer}
.w3-padding-bottom-64{padding-bottom:64px!important}.w3-padding-bottom-48{padding-bottom:48px!important}
.w3-padding-bottom-32{padding-bottom:32px!important}.w3-padding-bottom-24{padding-bottom:24px!important}
.w3-padding-bottom-16{padding-bottom:16px!important}
.w3-margin-1em{margin-top:1em;margin-bottom:1em}
.w3-italic{font-style:italic}
.mySlides{margin:auto;height:200px;max-width:99%}
.divSlides{max-width:90%;position:relative}
.cliquable {
	}
.masquable {
	display:none;
	}
.cliquable:focus + .masquable {
	display:block;
	}
	
.rouge {
	color: red;
	}
	
input:required {
	border-bottom : solid 1px #1f68f9;
	}

.centre {
	text-align:center;
	}
			
ul.feature-icons li {
	display: inline-block;
	margin: 0 0 1.6875em 0;
	padding: 0.35em 0 0 3.5em;
	position: relative;
	vertical-align: top;
	width: 48%;
	}
	
.icon.solid::before {
	font-weight: 900;
	}
	
ul.feature-icons li::before {
	border-radius: 100%;
	color: #ffffff;
	display: block;
	height: 2.5em;
	left: 0;
	line-height: 2.5em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 2.5em;
	}
	
ul.liste-transaction {
	list-style-type:none;
	text-align:left;
	}
	
ul.liste-transaction li {
	border-bottom: solid 1px lightgray;
	font-weight : 700;		
	}

.divfixe {
	position: fixed;
	bottom: 0;
	right:0;
	margin-right:0.2em;
	margin-bottom : 0.3em;
	font-size: 3em;
	font-weight: 800;
	color:#FFF;
	background-color : #bbb;
	opacity : 0.3;
	border-radius : 0.1em;
	}


.erreur {
	background-color: red;
	color: #e9e9e2;
	font-weight: bold;
}

.avertissement {
	background-color: #ffd11a;
	color: #2c2c21;
	font-weight: bold;
}

.information {
	background-color: #0b33c0;
	color: #e9e9e2;
	font-weight: bold;
}

.affichesoldesmart2 {
	margin : auto;
	border-radius : 15px;
	width : 90%;
	background-image : url("../images/cubes.png");
	background-repeat : repeat;
	padding-top : 15px;
	padding-right : 1em;
}

.affichesoldesmart2 img {
	width:30%;
	text-align: left !important;
}	

.affichesoldesmart {
	margin : auto;
	border-radius : 15px;
	width : 90%;
	border : 2px solid;
}

.affichesolde {
	text-align : right;
}